form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
  }
  
  td {
    text-align: right;
    padding: 5px;
  }
  
  .center {
    text-align: center;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  button[type="submit"]:hover {
    background-color: #0048ff;
  }

  .left-column{
    align-items: end;
    justify-content: end;
  }
  center-button
  .center-button {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .hijo_boton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    }

  .padre_nav {
    display:flex;
    flex-direction: column;  
  }
  .padre_nav img {
    height: 150px;
  }
  
  .hijo_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    align-items: center;
    justify-content: center;
  }